      @import url('https://fonts.googleapis.com/css?family=Turret+Road&display=swap');
      body {
        width: 99%;
        font-family: 'Turret Road', cursive;
        left: 0px;
        background-attachment: fixed;
        background: url("https://thechallenger346.ga/icon/site_background.png");
      }
      .oof {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 35%;
        position: absolute;
        text-align: center;
        color: white;
      }
      .heading-picture {
        background-attachment: fixed;
        top: 16%;
        width: 80%;
        height: 10%;
        left: 10%;
        position: absolute;
        text-align: center;
        color: white;
        padding: 10px;
        margin-bottom: 20px;
      }
      .page-bottom {
        background-attachment: fixed;
        top: auto;
        top: 205%;
        width: 100%;
        height: 10%;
        left: 0px;
        position: absolute;
        text-align: center;
        color: white;
      }
      .TOS {
        top: 10%;
        width: 30%;
        height: 75%;
        left: 35%;
        position: absolute;
        text-align: center;
        color: white;
        border: none;
        background: rgb(10, 12, 100);
        border: 3px rgb(10, 12, 100);
        font-family: 'Turret Road', cursive;
      }
      .TOS:hover {
        top: 10%;
        width: 30%;
        height: 75%;
        left: 35%;
        position: absolute;
        text-align: center;
        color: white;
        border: none;
        background: rgb(266, 12, 12);
        border: 3px rgb(266, 12, 13);
        font-family: 'Turret Road', cursive;
      }
      .discord {
        background-attachment: fixed;
        height: 55%;
        width: 98%;
        left: 2%;
        top: 30%;
        position: absolute;
      }
      .discord1 {
        background: black;
        bottom: 2%;
        left: 0px;
        height: 100%;
        width: 40%;
        position: absolute;
        background: 0, 47, 92;
        text-align: center;
        color: rgb(120, 0, 0);
        left: 30%;
      }
      .buttons {
        width: 100%;
        height: 10%;
        position: absolute;
        left: 0%;
        top: 10%;
      }
      .discord-button {
        top: 15%;
        left: 50%;
        position: absolute;
      }
.forum-button{
	top: 15%;
        left: 70%;
        position: absolute;

}
.scammer-button{
	top: 15%;
        left: 10%;
        position: absolute;
}

.scammerblaster-button{
    top: 15%;
        left: 30%;
        position: absolute;
}

.header-buttons{
    width: 15%;
    height: 40%;
    background: rgb(10, 12, 100);
    border: 3px rgb(10, 12, 100);
    text-align: center;
    color: white;
    font-family: 'Turret Road', cursive;
}

.header-buttons:hover{
    width: 15%;
    height: 40%;
    background: rgb(226, 12, 12);
    border: 3px rgb(226, 12, 12);
    text-align: center;
    color: white;
    font-family: 'Turret Road', cursive;
}

.javed {
    width: 98%;
    left: 1%;
    top: 100%;
    position: absolute;
    text-align: center;
    color: white;
  }